<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.crm.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.Menu" >
    <id column="id" property="id" />
    <result column="text" property="text" />
    <result column="url" property="url" />
    <result column="parent_id" property="parent_id" />
    <association property="permission" javaType="Permission" column="permission_id"
                select="cn.wolfcode.crm.mapper.PermissionMapper.getPermissionKey"/>
    <!--封装子菜单-->
    <collection property="children" ofType="cn.wolfcode.crm.domain.Menu" column="id"
                select="cn.wolfcode.crm.mapper.MenuMapper.getChildrenMenu"/>
  </resultMap>
  <!--查询子菜单-->
  <select id="getChildrenMenu" resultMap="BaseResultMap">
    select *
    from `menu`
    where parent_id = #{parentId}
  </select>
  <!--查询根菜单-->
  <select id="getRootMenu" resultMap="BaseResultMap">
    select *
    from `menu`
    where parent_id = #{parentId}

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `menu`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.crm.domain.Menu" useGeneratedKeys="true" keyProperty="id" >
    insert into `menu` (text, url, parent_id)
    values (#{text}, #{url}, #{parent_id})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.crm.domain.Menu" >
    update `menu`
    set text = #{text},
      url = #{url},
      parent_id = #{parent_id}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, text, url, parent_id
    from `menu`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, text, url, parent_id
    from `menu`
  </select>
  <!--分页-->
  <!--查询满足条件总数-->
  <select id="queryForCount" resultType="int">
    select count(id)
    from `menu`
  </select>
  <!--查询满足条件的结果集(有内联sql查询部门信息)-->
  <select id="queryForList" resultMap="BaseResultMap">
    select id, text, url, parent_id
    from `menu`
    limit #{beginIndex},#{rows}
  </select>
</mapper>